.leftbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lefbar__indicator{
    position: absolute;
    top: 26px;
    left: 18px;
    right: 0;
    display: flex;
    height: 50px;
    background-color: #ffffff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transition-duration: 0.4s;
}
.lefbar__indicator__roll{
    width: 40px;
    height: 40px;
    position: relative;
    top: 30px;
    left: 22px; 
    background-color: #CD264F;
    border-radius: 50%;
    border: 5px solid #ffffff;
    box-sizing: content-box;
}

.lefbar__indicator::before{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fde4eb;
    background-color: rgb(229 231 235);
    transform: rotate(90deg);
    position: absolute;
    transform: translateY(-20px);
    right: 0;
    border-bottom-right-radius: 60%;
    box-shadow: 0px 10px 0 0 #ffffff; 
}
.lefbar__indicator::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fde4eb;
    background-color: rgb(229 231 235); 
    transform: rotate(-90deg);
    position: absolute;
    top: 70px;
    transform: translateY(-20px);
    right: 0;
    border-top-right-radius: 60%;
    box-shadow: 0px -10px 0 0 #ffffff; 
}
.lefbar__indicator__bar{
    width: 250px;
    height: 50px;
     position: relative;
    top: -5px;
    left: 30px;
    background-color: #ffffff;
     z-index: -100;
} 
.leftbar__ul{
    position: absolute;
    background-color: #fde4eb;
    background-color: rgb(229 231 235); 
    min-height: 100vh;
    padding: 10px 0;
    box-sizing: content-box;
    overflow-y: auto;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.leftbar__ul__list{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 0 0px 0;
    cursor: pointer;
    height: 40px;
}
.leftbar__ul__list__icon{
    z-index: 200;
    font-size: 20px;
    margin: 0 10px 0 12px;
    transition-duration: 0.3s;
}
.leftbar__ul__list__text{
    width: 200px;
    z-index: 200;
    display:none;
    margin: 0 10px 0 20px;
    transition: width 2s;
}
.leftbar__ul__list__child{
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    margin: 20px 0 0 30px;
    cursor: pointer;
    height: 30px;
}
.leftbar__ul__list__icon__child{
    z-index: 200;
    font-size: 17px;
    margin: 0 10px 0 12px;
    transition-duration: 0.3s;
}
.leftbar__ul__list__text__child{
    width: 200px;
    z-index: 200;
    font-size: 17px;
    display: none;
    margin: 0 10px 0 20px;
    transition: width 2s;
}
.leftbar__ul__list.active .leftbar__ul__list__icon{
    color: #ffffff;
    animation: translation 0.4s ease-in;
}
.leftbar__ul__list.active .leftbar__ul__list__text{
    animation: translation 0.4s ease-in;
}

@keyframes translation {
    0%{
        transform: translateX(10%);
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        transform: translateX(0);
    }
}

 .leftbar__ul ul li:nth-child(2){
    background-color: blueviolet;
} 

li:nth-child(1).active ~ .lefbar__indicator {
    transform: translateY(calc(59px * 0));
}
li:nth-child(2).active ~ .lefbar__indicator {
    transform: translateY(calc(61px * 1));
}
li:nth-child(4).active ~ .lefbar__indicator {
    transform: translateY(calc(59px * 3));
    left: 40px;
    height: 50px;
}
li:nth-child(5).active ~ .lefbar__indicator {
    transform: translateY(calc(56.5px * 4));
    left: 40px;
    height: 50px;
}
li:nth-child(6).active ~ .lefbar__indicator {
    transform: translateY(calc(55px * 5));
    left: 40px;
    height: 50px;
}
li:nth-child(7).active ~ .lefbar__indicator {
    transform: translateY(calc(54.5px * 6));
    left: 40px;
    height: 50px;
}
li:nth-child(8).active ~ .lefbar__indicator {
    transform: translateY(calc(53.5px * 7));
    left: 40px;
    height: 50px;
}
li:nth-child(9).active ~ .lefbar__indicator {
    transform: translateY(calc(53.3px * 8));
    left: 40px;
    height: 50px;
}
li:nth-child(10).active ~ .lefbar__indicator {
    transform: translateY(calc(53.3px * 9));
    left: 40px;
    height: 50px;
}
li:nth-child(11).active ~ .lefbar__indicator {
    transform: translateY(calc(52.5px * 10));
    left: 40px;
    height: 50px;
}
li:nth-child(12).active ~ .lefbar__indicator {
    transform: translateY(calc(52.3px * 11));
    left: 40px;
    height: 50px;
}
li:nth-child(13).active ~ .lefbar__indicator {
    transform: translateY(calc(52.2px * 12));
    left: 40px;
    height: 50px;
}
li:nth-child(14).active ~ .lefbar__indicator {
    transform: translateY(calc(52px * 13));
    left: 40px;
    height: 50px;
}
li:nth-child(15).active ~ .lefbar__indicator {
    transform: translateY(calc(51.8px * 14));
    left: 40px;
    height: 50px;
}
li:nth-child(16).active ~ .lefbar__indicator {
    transform: translateY(calc(51.8px * 15));
    left: 40px;
    height: 50px;
}
li:nth-child(17).active ~ .lefbar__indicator {
    transform: translateY(calc(51.6px * 16));
    left: 40px;
    height: 50px;
}
li:nth-child(18).active ~ .lefbar__indicator {
    transform: translateY(calc(51.5px * 17));
    left: 40px;
    height: 50px;
}
li:nth-child(19).active ~ .lefbar__indicator {
    transform: translateY(calc(51.7px * 18));
}

.leftbar__Arrow{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 20px 20px 0;
} 